<!doctype html>
<html lang="en"  xmlns:th="http://www.thymeLeaf.org" th:replace="base::Layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>NoteTaker</title>
</head>
<body>

	<h1>This is my home page</h1>
	<section class="banner d-flex justify-content-center align-items-center">
	<div class="text-center">
	<h1 class="font-weight-bold">Note Taker App</h1>
	<p>Here we can add note and we can update and delete</p>
	<button class="btn bg-primary btn-lg">Get Start</button>
	</div>
	</section>
	
</body>
</html>