<!doctype html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org" th:replace="normal/base::Layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
	<section>
	<div class="container-fluid p-3">
			<div class="col-md-10 offset-md-1">
				<div class="card paint-card">
					<h3 class="text-center">Add Notes</h3>
					
					<div th:if="${session.message}" class="container">
						<div th:classappend="${'alert-'+session.message.type}" class="alert text-center" role="alert">
						<span th:text="${session.message.content}"></span>
					</div>
					<th:block th:text="${#session.removeAttribute('message')}"></th:block>
					</div>
					<div class="card-body">
						<form th:action="@{/user/saveNotes}" method="post">
							<div class="form-group">
								<label>Enter Title</label> <input type="text"
									class="form-control" name="title">
							</div>
							<div class="form-group">
								<label>Enter Description</label>
								<textarea rows="5" cols="" name="content" class="form-control"></textarea>
							</div>
							<div class="text-center">
								<button class="btn btn-primary">Submit</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	
	</section>
</body>
</html>